<!DOCTYPE html>

<html>
<div style="text-align:center">
  <head>
    <meta charset="utf-8">
    <title> Sklep Zoologiczny "Panda" - O nas</title>
  </head>
  <h1>
    Historia
  </h1>
  <p>
    Sklep został założony w roku 1950 roku. Nasza rodzina z powodzeniem prowadzi go od trzech pokoleń.
  </p>
  <br>
  <br>
  <br>
  <h2>
    Aktualności
  </h2>
  <p>
    Zapraszamy na zakupy on-line.
  </p>
  <br>
  <p>
    Sklep stacjonarny czynny od poniedziałku do piątku w godzinach 10.00 - 18.00 oraz w sobotę w godzinach 10.00 - 15.00. Zapraszamy!
  </p>
</div>
</html>
